@keyframes tick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hand {
  position: absolute;
  width: 5px;
  height: 250px;
  background: black;
  animation: tick 60s steps(60, end) infinite;
  transform-origin: 0 100%;
}

.hand-minutes {
  position: absolute;
  /*top 20px;*/
  margin-top: 20px;
  width: 10px;
  height: 230px;
  background: red;
  animation: tick 3600s linear infinite;
  transform-origin: 0 100%;
}
.hand-hours {
  position: absolute;
  margin-top: 50px;
  width: 10px;
  height: 200px;
  background: blue;
  animation: tick 216000s linear infinite;
  transform-origin: 0 100%;
}

.clock {
  display: flex;
  justify-content: center;
  height: 500px;
  border: 3px solid black;
  width: 500px;
  border-radius: 50%;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
}
