.container {
  /* Height must be defined to 100vh for centrate the div */
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
}

.watch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 100%;
}

.watch-body {
}

.centerPoint {
  width: 12px;
  height: 12px;
  background-color: black;
  top: 50%;
}
